[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
notebook = "*"
matplotlib = "*"
sns = "*"
category-encoders = "*"
pdpbox = "*"
ipykernel = "*"
ipywidgets = "*"
seaborn = "*"
eli5 = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
